@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body{
  background-color: #1a1a40;
  color: white;
  padding: 10px;
} 

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul a{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin-top: -40px;
}

li{
    margin: 50px;
    padding-top: 5px;
    color: white;
    transition: 0.4s;
}

li:hover{
    color: darkblue ;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

h1{
    font-weight: 100;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: darkblue
}

p{
    line-height: 20px;
}

img{
    width: 620px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#btn-enviar{
    height: 50px;
    width: 50%;
    transition: 0.4s;
}

#btn-enviar:hover{
    color: white;
    background-color: darkblue;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

